[submodule "cdroutertestkit"]
	path = cdroutertestkit
	url = https://DanEdens@bitbucket.org/danedens/cdroutertestkit.git
	branch = main
[submodule "QAcafe_cdrouter"]
	path = QAcafe_cdrouter
	url = https://github.com/qacafe/cdrouter.py.git
[submodule "guitestkit"]
	path = guitestkit
	url = https://DanEdens@bitbucket.org/danedens/guitestkit.git
