[submodule "cdroutertestkit"]
	path = cdroutertestkit
	url = https://DanEdens@bitbucket.org/danedens/cdroutertestkit.git
[submodule "QAcafe_cdrouter"]
	path = QAcafe_cdrouter
	url = https://github.com/qacafe/cdrouter.py.git
